body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
  font-family:'Montserrat',sans-serif;
}

p{
  color:#8f8f8f;
}

/* headings */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

.section-heading{
  font-weight: 700;
  font-size: 3rem;
}
/* Container styles */
.container-fluid{
  padding: 7% 15%;
}
.colored-container{
  background-color: #ff4c68;
  color:white;
}

.white-container{
  background-color: #fff;
}

/* title-section */

#title{
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
}
.nav-link{
  font-size: 20px;

}
.nav-item{
padding: 0 10px;
}
.navbar{
  padding-left: 0;
  padding-bottom: 4.5rem;
}
.iphone6{
  width:60%;
  position: absolute;
  transform: rotate(20deg);
  right:25%;
  z-index: 1;
}

/* features */

#features{
  position: relative;
  z-index: 2;

}

.description{
  margin: 30px auto;
}

.VectorIcon{
  font-size: 300%;
  color: #ef8172;
}
.VectorIcon:hover{
  font-size: 300%;
  color: #ff4c68;
  padding-bottom: 2%;
}
.feature-title{
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5% 0;
}

/*  Testimonial */

#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-weight: 700;
  font-size: 3rem;
}

.testimonial-image{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

#press{
  background-color: #ef8172;

}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}


/* pricing */

.pricing-text{
  font-weight: 700;
  font-size: 3rem;
}

.pricing-card{
  padding: 3% 2%;
}
@media (max-width:1100px)
{
 #title{
   text-align: center;
 }
 .iphone6
 {
   position: static;
   transform: rotate(0deg);
   margin: 7% auto;
 }

}

.button-style{
  margin: 0 10px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
}

.footer-icon{
  font-size: 20px;
  margin: 10px;
}
.footer-icon:hover{
  transform: scale(1.5);
}
